<% include ../partials/bootstrap_boilerplate %>

  <script src='/static/js/head.js'></script>
  <% if (tone.document_tone) { %>
    <% let oldAngerValue = JSON.stringify(tone.document_tone.tone_categories[0].tones[0].score, null, 2) %>
    <% let oldDisgustValue = JSON.stringify(tone.document_tone.tone_categories[0].tones[1].score, null, 2) %>
    <% let oldFearValue = JSON.stringify(tone.document_tone.tone_categories[0].tones[2].score, null, 2) %>
    <% let oldJoyValue = JSON.stringify(tone.document_tone.tone_categories[0].tones[3].score, null, 2) %>
    <% let oldSadnessValue = JSON.stringify(tone.document_tone.tone_categories[0].tones[4].score, null, 2) %>

    <%  function changePieCharts100(value) {  %>
      <%  return ((value * 100) / 1); %>
    <%  } %>

    <% let angerValue = changePieCharts100(oldAngerValue) %>
    <% let disgustValue = changePieCharts100(oldDisgustValue) %>
    <% let fearValue = changePieCharts100(oldFearValue) %>
    <% let joyValue = changePieCharts100(oldJoyValue) %>
    <% let sadnessValue = changePieCharts100(oldSadnessValue) %>

    <span id='angerValue' data='<%= angerValue %>'> </span>
    <span id='disgustValue' data='<%= disgustValue %>'> </span>
    <span id='fearValue' data='<%= fearValue %>'> </span>
    <span id='joyValue' data='<%= joyValue %>'> </span>
    <span id='sadnessValue' data='<%= sadnessValue %>'> </span>

  <div class="whole"> 
    <div class="pie-chart-container">
      <div class="chart">
        <div class="joy-percentage" data-percent="<%= joyValue %>">
          <span>100</span><sup>%</sup>
        </div>
        <div class="label">Joy</div>
      </div>

      <div class="chart">
        <div class="sadness-percentage" data-percent="<%= sadnessValue %>">
          <span>100</span><sup>%</sup>
        </div>
        <div class="label">Sadness</div>
      </div>

      <div class="chart">
        <div class="fear-percentage" data-percent="<%= fearValue %>">
          <span>100</span><sup>%</sup>
        </div>
        <div class="label">Fear</div>
      </div>

    <div class="pie-row-two">
      <div class="chart">
        <div class="anger-percentage" data-percent='<%= angerValue %>'>
          <span>100</span><sup>%</sup>
        </div>
        <div class="label">Anger</div>
      </div>

      <div class="chart">
        <div class="disgust-percentage" data-percent="<%= disgustValue %>">
          <span>100</span><sup>%</sup>
        </div>
        <div class="label">Disgust</div>
      </div>
    </div>
    </div>

    <div class="radar-chart-container">
      <div class="chart-demo">
        <canvas id="emotionRadarChart" width="640" height="400"></canvas>
      </div>
    </div> 

    <div class="resultsSaveBttnContainer">
      <a class="resultsSaveBttn">Save This</a>
    </div>
  </div>

  <div class="resultsSaveForm">
    <div class="create">
      <div class="createContainer">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Save Form</h3>
          </div>
          <div class="well">
            <form id="createForm" method="POST" class="createForm" action='/'>
              <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required title="Please enter the Name" placeholder='Name' />
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <textarea class="form-control" rows="5" id="description" name="description" required title="Please enter the description" placeholder="Please Write Your Description Here ......." ></textarea>
                <span class="help-block"></span>
              </div>
                <input name='urllink' type='hidden' value='<%= text %>' />
                <% if (userLoggedIn == true) { %>
                <input name='user_name' id='userName' type='hidden' value='<%= userInfo.username %>' />
                <input name='user_id' type='hidden' value='<%= userInfo.id %>' />
                <% } %>
              <button type="submit" class="btn btn-success btn-block">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } else { %>
    <pre class="data"><%=  JSON.stringify(tone, null, 2) %></pre>
  <% } %>
  <promise>
  <fetch>

<% include ../partials/end.ejs %>
